<section id="clientes">
  <div class="container">
    <h2>Clientes</h2>
    <div class="slogan">
      <p>O Mutirão nasceu em movimentos e coletivos urbanos e se aperfeiçoou dentro de governos. As instituições políticas mais inovadoras atualmente usam seus serviços e produtos:</p>
    </div>
    <div class="cards logos">
      {% for cliente in site.clientes %}
      <div class="card">
        <a href="javascript:void(0)" class="grid-item">
          <img src="{{cliente.image}}" alt="{{cliente.title}}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
