<div class="hero" data-vide-bg="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/11221660_468793243275665_8530528072817571423_n.jpg?oh=10eccfe31e6b480697ef1b6e4145ea7e&oe=55EA05DB&__gda__=1443308295_1399f0e8a82b228e6c9c9b81ae096a8c"  data-vide-options="muted: true">
  {% for apresentacao in site.apresentacao %}
    <div class="hero-inner">
      <h1><a href="index.html">
        <img src="images/logo-negative.svg" alt="Instituto Mutirão">
      </a></h1>
      <div class="hero-copy">
        {{ apresentacao.content }}
      </div>
      <a href="mailto:{{site.email}}" class="button black">Entre em contato</a>
    </div>
  {% endfor %}
</div>
