

<div class="hero" data-vide-bg="/videos/1_abacaxi">
<!-- data-vide-options="loop: false, muted: false, position: 0% 0%" -->
  {% for apresentacao in site.apresentacao %}
    <div class="hero-inner">
      <a href="index.html" class="hero-logo">
        <img src="images/logo-negative.svg" alt="Instituto Mutirão">
      </a>
      <div class="hero-copy">
        {{ apresentacao.content }}
      </div>
      <a href="mailto:{{site.email}}" class="button black">Entre em contato</a>
    </div>
  {% endfor %}
</div>
